<div class="container mt-4">
    <h1 class="text-center mb-4">Mes Produits</h1>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
        <div class="card h-100">
          <img [src]="product.imageUrl" class="card-img-top" [alt]="product.title">
          <div class="card-body">
            <h2 class="card-title">{{ product.title | uppercase }} 🤌</h2>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Produit ajouté le {{ product.createdAt | date:'shortDate' }}</p>
            <button class="btn btn-primary" (click)="viewDetails(product.id)">Voir les détails</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Afficher les détails du produit sélectionné -->
  <app-detail-produit *ngIf="selectedProduct" [product]="selectedProduct"></app-detail-produit>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  